<!-- START HEADER  -->
<div class="header-container" style="height:120px">
  <header class="wrapper clearfix">
    <div id="header" class="internal">
      <%= render "shared/header" %>
    </div>
  </header>
</div>

<div class="main-container internal">
  <div class="main wrapper clearfix section">
		<article style="margin-top:-40px">
			<section>
				
				<h2>Thanks for applying. We will get back to you very soon!</h2>

			</section>
			          
			<aside>
				<%= image_tag "sandwich-sidebar.jpg" %>
				<span>First Postulate of the Alliance</span>
				<p><em style="color:#666">"Do not make a stingy sandwich; Pile the cold cuts high. Customers should see salami coming through the rye."</em></p>
			</aside>                  
		</article>
	</div>         
</div> 

<%= render "shared/footer" %>