.footer-container
	%footer.wrapper.clearfix
		%h1
			%a.logofoot{ :href => "/" } Oak Alliance
		%ul
			%li
				%a{ :href => "#" } Twitter
				%a{ :href => "#" } Facebook
				%a{ :href => "#" } About
				%a{ :href => "#" } Privacy
