<a href="/" class="logo">Ruby Alliance</a>
<ul class="menu" id="headnav">
 <li><a href="/users/sign_up">Apply for Membership</a></li>
 <li><a href="/merchants">Merchants</a></li>
 <li><a href="/about">About</a></li>
 <% if user_signed_in? %>
 	<li class="last"><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
 <% else %>
	<li class="last"><a href="/users/sign_in">Login</a></li>
 <% end %>
</ul>