<!-- START HEADER  -->
<div class="header-container">
  <header class="wrapper clearfix">
    <div id="header" class="internal">
      <%= render "shared/header" %>
    </div>
  </header>
</div>

<div class="main-container internal">
  <div class="main wrapper clearfix section">
  	<div class="circle_container">
  		<div class="circle">Benefits</div>
  	</div>
		<article style="margin-top:-40px">
			
				<div class="well" style="background-color:#fff; margin-top:50px">
					
					<div style="text-align:center">
						<h2>Join the network of merchants who are benefiting from the alliance</h2>
						<a href="#" class="btn btn-large btn-success">Apply for Merchant Membership</a>
					</div>

					<div class="merchant_body">
						<div class="row">
							<div class="span7">
								<b>Why Join?</b>
							</div>
						</div>
					</div>
				</div> 
		</article>
	</div>         
</div> 

<%= render "shared/footer" %>