.header-container
	%header.wrapper.clearfix
		#header.internal
			= render 'shared/header'

.main-container.internal
	.main.wrapper.clearfix.section
		.circle_container
			.circle
				Thanks
		%article.article_positioning
			.well.inner_page_well
				.align_center
					%h1.page_title Thanks for applying. We will get back to you soon.

= render "shared/footer"
