

@font-face {
    font-family: 'ralewaylight';
    src: url(font-path('raleway-light-webfont.eot'));
    src: url(font-path('raleway-light-webfont.eot') + "?#iefix") format('embedded-opentype'),
         url(font-path('raleway-light-webfont.woff')) format('woff'),
         url(font-path('raleway-light-webfont.ttf')) format('truetype'),
         url(font-path('raleway-light-webfont.svg') + "#ralewaylight") format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ralewaymedium';
    src: url(font-path('raleway-medium-webfont.eot'));
    src: url(font-path('raleway-medium-webfont.eot') + "?#iefix") format('embedded-opentype'),
         url(font-path('raleway-medium-webfont.woff')) format('woff'),
         url(font-path('raleway-medium-webfont.ttf')) format('truetype'),
         url(font-path('raleway-medium-webfont.svg') + "#ralewaymedium") format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ralewayregular';
    src: url(font-path('raleway-regular-webfont.eot'));
    src: url(font-path('raleway-regular-webfont.eot') + "?#iefix") format('embedded-opentype'),
         url(font-path('raleway-regular-webfont.woff')) format('woff'),
         url(font-path('raleway-regular-webfont.ttf')) format('truetype'),
         url(font-path('raleway-regular-webfont.svg') + "#ralewayregular") format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ralewaysemibold';
    src: url(font-path('raleway-semibold-webfont.eot'));
    src: url(font-path('raleway-semibold-webfont.eot') + "?#iefix") format('embedded-opentype'),
         url(font-path('raleway-semibold-webfont.woff')) format('woff'),
         url(font-path('raleway-semibold-webfont.ttf')) format('truetype'),
         url(font-path('raleway-semibold-webfont.svg') + "#ralewaysemibold") format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ralewaythin';
    src: url(font-path('raleway-thin-webfont.eot'));
    src: url(font-path('raleway-thin-webfont.eot') + "?#iefix") format('embedded-opentype'),
         url(font-path('raleway-thin-webfont.woff')) format('woff'),
         url(font-path('raleway-thin-webfont.ttf')) format('truetype'),
         url(font-path('raleway-thin-webfont.svg') + "#ralewaythin") format('svg');
    font-weight: normal;
    font-style: normal;

}